@import '~normalize.css';
@import '~@/assets/css/iconfont.css';
@import '~@/assets/stylus/material-icons'
@import '~vuetify/dist/vuetify.min.css'

html, body
    width 100%
    height 100%
    padding 0
    margin 0

a
    text-decoration none
